body{
    margin: 0%;
    padding: 0%;
}
.body{
    background-color: rgb(249, 249, 249);
    box-shadow: 5px 10px aliceblue;
}
.Navbar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 60px;
    margin: 0px 60px; 
}
.nav-img{
     height: 40px;
     width: 40px;
     padding: 2.5px;
     margin: 30px 10px;
     border-radius: 50px;
     background-color: rgba(0, 0, 0, 0.176);
}
.nav-left{
    display: flex;
}
.nav-left h1{
    font-size: 25px;
    margin-top: 30px; 
}
.nav-left p {
    font-size: 15px;
    margin-top: 0%;  
}
.nav-right{
    display: flex;
}
.nav-right p {
    margin: 30px;
}